body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

.global-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 40px;
    padding: 15px 25px;
    width: calc(100% - 50px);
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 150px;
}

.logo a {
    text-decoration: none;
    font-weight: bolder;
}

.nav {
    display: none;
    margin: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

ul {
    list-style: none;
}

.nav li {
    font-size: 14px;
    margin: 0 20px;
    cursor: pointer;
}

.nav-right  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 45px;
}

.dropdown-menu {
    background-color: white;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    display: none;
    padding: 15px;
    position: absolute;
    top: 60px;
    width: 210px;
    z-index: 10;  
}

.dropdown-menu#menu-1 {
    left: 190px;
}
  
.dropdown-menu#menu-2 {
    left: 290px;
    min-width: 200px;
}
  
.dropdown-menu#menu-3 {
    left: 390px;
    min-width: 200px;
}

.menu-header {
    font-size: 12px;
    margin: 0;
    padding: 0 10px 8px 10px;
    text-transform: uppercase;  
}

.menu-item-list {
    margin: 0;
    padding: 0;
}
 
.menu-item-list li a,
.menu-item-list li a:visited,
.menu-item-list li a:focus {
    color: #454545;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu-item-list li a:hover {
    background-color: rgb(242,242,242);
    color: #1264a3;
}

#fade-in-header {
    display: none;
    position: fixed;
    top: 0;
}
  
#top-nav {
    position: fixed;
}
  
.show {
    display: block;
}
  
.signup-login {
    background-color: #611f69;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: none; 
    padding: 8px 16px;
    transition: all 420ms ease-in-out; 
}
  
.signup-login:hover {
    background-color: #4a154b
}
  
@media (min-width: 768px) {
    .signup-login {
      display: block; 
    }  
}

.hamburger-menu {
    display: block;
    cursor: pointer;
}

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}

.side-menu-position {
    padding-top: 25px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
  
.side-menu-design {
    background-color: #611f69;
    background-image: url('https://wallpapers.com/images/hd/blackboard-background-902-x-1603-hl42wztt9qa12lf1.jpg');
    background-size: 1300px 700px;
    background-repeat: repeat;
    cursor: pointer;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
}
  
.side-menu-header {
    border-bottom: 1px solid rgba(255,255,255,.1); 
    display: flex;
    justify-content: space-between;
    padding: 0 25px 25px 25px;  
}
  
.side-menu-content {
    color: #fff;
    font-size: 24px; 
    margin: 25px;
    padding-left: 0; 
}
  
.side-menu-content li {
    list-style: none;
    margin-bottom: 25px;
}
  
.side-menu-login {
    margin-bottom: 8px;
    text-align: center;
}
  
#top-nav {
    position: fixed;
}
  
.show-menu {
    opacity: 1;
    transform: translateX(0%);
}


.welcome-section {
    flex: 100%;
    padding-top: 70px;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(236, 226, 168);
    border: 2px solid rgb(173, 238, 99);
} 
    
@media (min-width: 768px) {
.welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   }
}

.welcome-content-left {
    display: flex;
    flex: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 65px;
    width: 300px;
    margin: auto;
}

p {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.welcome-content-right {
    flex: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 768px) {
    .welcome-content-left, .welcome-content-right {
        flex: 50%;
        flex-direction: row;
        align-items: center;
    }
}

.welcome-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.welcome-button-1, .welcome-button-2  {
    align-items: center;
    background-color: #ff5358;
    border-bottom: 2px solid #e00007;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 15px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    transition: 0.4s ease-in-out;
    width: 160px;
}

@media (min-width: 768px) {
    .welcome-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
.welcome-button :hover {
    background-color: #e00007;
}

.welcome-button-text {
    text-decoration: none;
}

.services-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    background-color: aliceblue;
}

@media (min-width: 768px) {
    .services-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.services-content-box {
    flex: 33%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    background-color: khaki;
    border: 2px solid greenyellow;
}

.services-content {

    text-align: justify;
    padding-bottom: 10px;
}


.footer-section {
    display: flex;
    flex-direction: column;
    flex: 100%;
    background-color: rgba(235, 217, 78, 0.6);
}

@media (min-width: 768px) {
    .footer-section {
        flex-direction: row;
        flex: 50%;
    }
}

.form {
    background: rgba(235, 217, 78, 0.6);
    border: 2px solid rgb(167, 239, 146);
    padding: 25px;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 100%;
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px auto;
}

label {
    position: absolute;
}

input[type="text"],input[type="tel"] {
  width: 300px;
  height: 25px;
}

textarea {
    height: 50px;
    width: 300px;
}

textarea {
    height: 50px;
    width: 300px;
}

input[type="text"],input[type="tel"],textarea {
  border: 1px solid dimgray;
  padding: 10px;
  margin-bottom: 20px;
  background: lemonchiffon;
  border-radius: 4px;
}

@media (max-width: 768px) {
    input[type="text"],input[type="tel"],textarea {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}

input[type="submit"] {
    background-color: #ff5358;
    border-bottom: 2px solid #e00007;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    transition: 0.4s ease-in-out;
    width: 160px;
}

@media (max-width: 768px) {
    input[type="submit"] {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.inputs-list label {
    float: none;
    width: auto;
    padding: 0;
    line-height: 18px;
    white-space: normal;
    font-weight: normal;
}

.firstname-error-container,.lastname-error-container,.email-error-container,.phone-error-container {
    color: #f2545b;
}

.footer-nav-container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(235, 217, 78, 0.6);
    border: 2px solid rgb(167, 239, 146);
}

@media (max-width: 768px) {
    .footer-nav-container {
        display: flex;
        flex-direction: column;
        flex: 100%;
        flex-wrap: wrap;
    }
}

.footer-nav-content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.footer-nav-content li {
    padding: 10px ;
    margin:10px;
}
  
.copyright-footer {
    align-items: center;
    background-color: rgba(235, 217, 78, 0.6);
    border: 2px solid rgb(167, 239, 146);
    color: black;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}
  
hr {
    border: 1px solid #000000;
    margin-bottom: 20px;
    width: 95%;
}